// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
 @import 'components/_confirm-pages';
 @import 'components/_timeline';
@import 'components/_currency';
//@import 'includes/components/panel-confirmation';
//@import 'components/related-nav';


///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.example {
    position: relative;
    overflow: hidden;
    // background-color: #fff;
    border: 1px solid #aeb7bd;
    margin-top: 30px;
    padding: 40px 30px 30px 30px;
	&:before {
	    content: "EXAMPLE";
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
      -webkit-font-smoothing: antialiased;
	    font-weight: 400;
	    text-transform: none;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 1.45;
	    background: #425563;
        color: white;
	}
}
.example h2 {
    margin-top: 1.5em;
}

.app-content pre, .app-content code {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre code {
    display: block;
    max-width: calc(100% - 3em);
    overflow-x: auto;
}

// Details

.details-margin-btm {
  margin-bottom: 30px;
}

details.details-interruption {
  background-color: inherit;

  summary {
    padding-left: 0;
  }
}

details.code-details {
    background-color: #FFF;
    border: 1px solid #aeb7bd;
    padding: 10px;
    margin-top: -1px;

    summary {
      padding-left: 10px;
    }
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
}


confirmation {
  img {
    max-width: 100%;
    height: auto;
  }
}
.confirm-desktop{
  display: block;
}

.confirm-mobile{
   display: none;
}

@media screen and ( max-width: 640px ) {
   .confirm-desktop{
     display: none;
   }

   .confirm-mobile{
     display: block;
   }
}

    /* Sticky nav */
    #sticky-nav a.active {
        border-left: 7px solid #ffb81c;
        padding-left: 10px;
        color: #425563;
        text-decoration: none;
        font-weight: bold;
    }

    /* Article sections */
    .article-section {
        position: relative;
        width: 100%;
        margin-top: 32px;
        padding-top: 48px;
        border-top: 1px solid #d8dde0;
    }

    .article-section:first-child {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }

    .article-section *+* {
        margin-top: 14px;
    }

    @media (min-width: 641px) {
        .article-section *+* {
            margin-top: 20px;
        }
    }

    .article-section *+li {
        margin-top: 0;
    }

    @media (min-width: 641px) {
        .article-section *+li {
            margin-top: 0;
        }
    }

    .article-section dt {
        margin-top: 0;
    }

    .article-section h3:not(:first-of-type) {
        margin-top: 32px;
    }

    .article-section .grid-row,
    .article-section .column {
        margin-top: 0;
    }

    @media (min-width: 641px) {

        .article-section .grid-row,
        .article-section .column {
            margin-top: 0;
        }
    }

    @media (min-width: 925px) {
        .article-section {
            padding-top: 32px;
        }
    }

    /* Article section nav */
    .article-section-nav-wrapper {
        position: relative;
    }

    .article-section-nav-wrapper+.article-section-nav-wrapper {
        margin-top: 32px;
    }

    .article-section-nav {
//        padding-top: 16px;
        padding-bottom: 32px;
        border-bottom: 1px solid #d8dde0;
    }

    @media (min-width: 1520px) {
        .article-section-nav:not(.article-section-nav--facets) {
            max-width: 320px;
        }
    }

    @media (min-width: 925px) {
        .article-section-nav {
            padding-bottom: 0;
            border: none;
        }
    }

    .article-section-nav .article-section-nav__title {
        margin: 0 0 16px;
        display: inline-block;
        padding: 0 10px 10px 0;
        border-bottom: 4px solid #425563;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__title {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__title {
            font-size: 24px;
            line-height: 34px;
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__title {
            line-height: 24px;
        }
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__title {
            display: block;
            padding: 0 0 4px 0;
        }
    }

    .article-section-nav .article-section-nav__section {
        margin-top: 24px;
    }

    .article-section-nav .article-section-nav__section:first-child {
        margin-top: 0;
    }

    .article-section-nav .article-section-nav__list {
        margin-left: 0;
        list-style: none;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__list {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__list {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .article-section-nav .article-section-nav__list li {
        padding-left: 0;
    }

    .article-section-nav .article-section-nav__list li:first-child a {
        margin-top: 0;
    }

    .article-section-nav .article-section-nav__list a {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }

    .article-section-nav .article-section-nav__list .section-numbered {
        margin-left: 20px;
        font-size: 16px;
    }

    .article-section-nav .article-section-nav__list--tag-links {
        list-style: none;
        padding-left: 0;
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__list--tag-links {
            position: relative;
            line-height: 0;
            left: -6px;
        }

        .article-section-nav .article-section-nav__list--tag-links:after {
            clear: both;
            content: "";
            display: table;
        }

        .article-section-nav .article-section-nav__list--tag-links li {
            display: inline-block;
            float: left;
            margin-left: 6px;
            margin-top: 0;
            margin-bottom: 6px;
        }
    }

    .article-section-nav .article-section-nav__menu {
        list-style: none;
        margin-top: 0;
        padding: 0;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__menu {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__menu {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .article-section-nav .article-section-nav__menu:after {
        clear: both;
        content: "";
        display: table;
    }

    .article-section-nav .article-section-nav__menu li {
        position: relative;
        display: inline-block;
        float: left;
        width: 38px;
        height: 38px;
        line-height: 38px;
        vertical-align: middle;
        text-align: center;
        margin: 0 3px 3px 0;
        background-color: #005EB8;
    }

    .article-section-nav .article-section-nav__menu li a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        color: #FFFFFF;
    }

    .article-section-nav .article-section-nav__menu li:hover a,
    .article-section-nav .article-section-nav__menu li:focus a {
        text-decoration: none;
    }

    .article-section-nav .article-section-nav__menu li.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: #CBCBCB;
    }

    .article-section-nav .article-section-nav__menu li.is-disabled a {
        color: #666666;
        text-decoration: none;
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__menu li {
            margin: 0 4px 4px 0;
        }
    }

    .article-section-nav+.article-section-nav {
        margin-top: 48px;
    }


    .callout {
        padding: 16px;
        margin-bottom: 0;
    }

    @media (min-width: 925px) {
        .callout {
            padding: 32px;
        }
    }

    .callout:focus {
        outline: 3px solid #FFB81C;
    }

    .callout--attention {
        border: 8px solid #005EB8;
    }


    .nhsuk-caption-xl {
    font-size: 27px;
    display: block;
    color: #768692;
  }


@mixin label ($label-background: #DEE0E2, $label-border: #CBCBCB, $label-text: #0B0C0C) {
    background: $label-background;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.label {
    @include label(#6F777B, #0B0C0C)
}
.label--white {
    @include label(#FFF)
    color: #0B0C0C;
    border: 1px solid #CBCBCB;
}
.label--blue {
    @include label(#005EA5, #005EA5)
}

.label--red {
    @include label(#B10E1E, #B10E1E)
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: .85rem;
  }
}

.confirmation {
  img {
    max-width: 100%;
    height: auto;
  }
}
.confirm-desktop{
  display: block;
}

.confirm-mobile{
   display: none;
}

@media screen and ( max-width: 640px ) {
   .confirm-desktop{
     display: none;
   }

   .confirm-mobile{
     display: block;
   }
}

.flash-card {
  margin-top: 1em;
  padding: 30px;
  background: #005EA5;
  color: #FFF;

  header {
    background-color: inherit;
  }

  p {
    margin-left: 32px;
  }

  ul.how-to-renew {
    padding-left: 0;
    list-style: none;

    h2 {
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      color: #FFF;
      font-size: 28px;
    }

    li {
      margin-bottom: 22px;
    }
  }

  h1 {
    color: #FFF;
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  a {
    color: #FFF;
    &:visited, &:hover, &:active {
      color: #FFF; }
    }
    details {
      // margin-bottom: 1em;
      summary {
        color: #FFF;
      }
      .panel {
        border-left-color: #FFF;
      }
    }
  }

  @media (min-width: 769px) {
    .flash-card {
      margin-top: 1.25em;
      padding: 35px 50px;
    }
  }

.circle-white {
  color: #005ea5;
  background: #fff;
  float: left;
  margin-right: 15px;
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle {
  margin-top: 6px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-family: 'Inter UI', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.ogl-footer {
 background-color:#d8dde0
}
.ogl-text {
 font-weight:400;
 font-size:14px;
 font-size:.875rem;
 line-height:1.71429;
 color:#425563;
 margin-bottom:0;
 padding-bottom:24px
}
@media (min-width: 40.0625em) {
 .ogl-text {
  font-size:16px;
  font-size:1rem;
  line-height:1.5
 }
}
@media print {
 .ogl-text {
  font-size:14pt;
  line-height:1.2
 }
}
.ogl-text svg {
 margin-right:8px;
 position:relative;
 top:2px
}
.bsa-footer__heading {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 10px;
  margin-top: 0;
}

@media print {
  .bsa-footer__heading {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .bsa-footer__heading {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .bsa-footer__heading {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.bsa-footer__list {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #454a4c;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media print {
  .bsa-footer__list {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .bsa-footer__list {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .bsa-footer__list {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.bsa-footer__list-item {
  margin-bottom: 5px;
}

.bsa-footer__link:link, .bsa-footer__link:visited {
  color: #454a4c;
}

.bsa-footer__link:hover, .bsa-footer__link:active, .bsa-footer__link:focus {
  color: #171819;
}
.nhsuk-section-break--visible, .app-prose-scope hr {
  border-bottom: 1px solid #bfc1c3;
}
.nhsuk-footer__builtby{
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #425563;
  margin-bottom: 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-footer__builtby {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5; } }
  @media print {
    .nhsuk-footer__builtby {
      font-size: 14pt;
      line-height: 1.2; } }
  @media (min-width: 48.0625em) {
    .nhsuk-footer__builtby {
      } }


// Details

.details-margin-btm {
  margin-bottom: 30px;
}

details.details-interruption {
  background-color: inherit;

  summary {
    padding-left: 0;
  }
}

details.code-details {
    background-color: #FFF;
    border: 1px solid #768692;
    padding: 10px;
    margin-top: -1px;

    summary {
      padding-left: 10px;
    }
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    font-family: 'Inter UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
}

.page-header .heading-secondary {
  display: table-header-group;
  margin-bottom: 0;
  color: #6f777b;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  text-transform: none;
}
.page-header .heading-secondary {
  font-size: 27px;
  line-height: 1.11111;
  padding-bottom: 6px;
  padding-top: 4px;
}

.form-group .panel-border-narrow {
  float: left;
  width: 100%;
  padding-bottom: 0;
}
.panel-border-narrow {
  border-left-width: 5px;
}
.panel {
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.78947em;
  margin-bottom: 0.78947em;
}
.nhsuk-panel__title {
  text-align: center;
}

<style>
:not(svg) {
    transform-origin: initial;
}

fieldset {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-block-end: 0px;
    min-inline-size: auto;
    border-width: 0px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
  /* show/hide button */
  button.filter-button{
      background-color: transparent;
      border: none;
      width: 100%;
      text-align: left;
  }
  .show-count{
      font-size:16px;
  }
  input:checked + label {
      display:block !important;
  }
  /* wrapper style */
  ul#service-list {
      background-color: white;
      margin-top: 10px;
  }
  .search-body {
      background-color: #FFF;
  }
  .search-wrapper {
      background-color: #DEE0E2; 
      border: 5px solid #DEE0E2;
  }
  .color-spacing {
      padding:10px;
  }
  /* /. */
  /* scroll box */
  ul.scroll-box  {
      height:200px;
      width:100%;
      overflow:hidden;
      overflow: scroll;
      /* margin-top:-20px; */
  }
  .search-control {
      width: 100%;
  }
  @media only screen and (max-width:767px) {
      ul.scroll-box  {
          height:100px;
          width:100%;
          margin-top:-10px;
      }
  }
  
  .frame::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  .frame::-webkit-scrollbar:vertical {
      width: 11px;
  }
  .frame::-webkit-scrollbar:horizontal {
      height: 11px;
  }
  .frame::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white; /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, .5);
  }
  /* /. */
  /* spy glass in the input */
  .input-glyph-inner {
      position: relative;
  }
  .glass-symbol {
      position: absolute;
      bottom: 2px; 
      left: 10px;
      font-weight: 800;
      color: #333333;
      -webkit-transform: rotate(-45deg); 
      -moz-transform: rotate(-45deg); 
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      font-size:30px;
  }
  @media only screen and (max-width:642px) {
      .glass-symbol {
          font-size:26px;
      }
  }
  
  .input-glyph {
      padding-left: 40px;
  }
  @media all and (-ms-high-contrast: none) , ( -ms-high-contrast : active) {
      /* IE10+ CSS styles */
      .input-glyph {
          padding-bottom: 3px; /* 7px for the other symbol */
      }
  }
  /* /. */ 
  /* Label styles */ 
  .multiple-radio label {
      margin-left: 40px !important;
  }
  .check-label{
      padding-bottom:16px !important; /* on some prototypes the labels are really thin */
      width: 100%;
  }
  .clear-bg {
      background-color: #fff; /* overwrites grey background */
  }
  .label-space, #count {
      padding: 5px 10px;
  }
  .label-space, #count {
    padding: 5px 3px;
}
  /* /. */
  .ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 2px solid #6f777b;
    max-height: 350px;
    overflow-x: hidden;
  }

  .ui-autocomplete .ui-menu-item {
    border-top: 1px solid #bfc1c3;
    display: block;
    padding: 4px 6px;
    color: #0b0c0c;
    cursor: pointer;
  }

  .ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
  }

  .ui-autocomplete .ui-menu-item.ui-state-focus {
    font-weight: bold;
    background-color: #6f777b;
    color: #fff;
  }

  .ui-autocomplete {
    width: 100%;
  }

  @media (min-width: 641px) {
    .ui-autocomplete {
      width: 66.66%;
    }
  }

  .added-country .form-control {
    padding: 0.5em;
  }

  .typeahead,
  .tt-query,
  .tt-hint {
    font-size: 19px;
    font-weight: 300;
    text-transform: none;
    margin: 0;
    /* padding: 0.5em; */
  }

  .tt-hint {
    display: none;
  }

  .tt-dropdown-menu {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
  }

  .tt-suggestion {
    padding: 0.5em;
    font-size: 19px;
    line-height: 24px;
  }

  .tt-suggestion p {
    margin: 0;
  }

  .tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  .twitter-typeahead {
    width: 100%;
  }

  .validation-wrapper .optional-section .twitter-typeahead input {
    margin-bottom: 0;
  }

  .test-case {
    overflow: visible;
  }

  .visually-hidden,
  .visuallyhidden,
  .hidden-hint .screenreader-punctuation,
  .hidden-hint .form-hint {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .added-country .form-control {
    padding: 0.5em;
  }

  .tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 65%;
    max-height: 220px;
    overflow-y: scroll;
  }

  .tt-suggestion {
    padding: 0.5em;
  }

  .tt-suggestion:hover,
  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  .tt-suggestion:hover {
    cursor: pointer;
  }

  .twitter-typeahead {
    width: 100%;
  }

  .test-case {
    overflow: visible;
  }

  dialog {
    position: absolute;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    display: none;
  }

  dialog[open] {
    display: block;
  }

  dialog+.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
  }

  /* for small devices, modal dialogs go full-screen */
  @media screen and (max-width: 540px) {
    dialog[_polyfill_modal] {
      /* TODO: implement */
      top: 0;
      width: auto;
      margin: 1em;
    }
  }

  ._dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  dialog {
    display: block;
    position: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }

  dialog h1 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.0416666667;
  }

  @media (min-width: 641px) {
    dialog h1 {
      font-size: 36px;
      line-height: 1.1111111111;
    }
  }

  dialog[open] {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    border: 5px solid black;
  }

  @media (min-width: 641px) {
    dialog[open] {
      padding: 30px;
      margin: 30px auto;
      max-width: 500px;
    }
  }

  dialog[open]+.backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  dialog[open]::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  .dialog-button {
    display: none;
  }

  .js-enabled .dialog-button {
    display: block;
  }

  .js-enabled dialog {
    display: none;
  }

  .js-enabled dialog[open] {
    display: block;
    position: absolute;
  }

  .dialog-is-open {
    overflow: hidden;
  }

  .disclosure-control {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #005ea5;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    text-decoration: underline;
    padding-left: 20px;
    position: relative;
  }

  @media (min-width: 641px) {
    .disclosure-control {
      font-size: 19px;
      line-height: 1.3157894737;
    }
  }

  .disclosure-control__icon {
    display: block;
    width: 12px;
    height: 12px;
    background: url("/public/images/disclosure/icon-closed.png") no-repeat;
    position: absolute;
    left: 0;
    top: 4px;
  }

  .disclosure-control[aria-expanded="true"] .disclosure-control__icon {
    background: url("/public/images/disclosure/icon-open.png") no-repeat;
  }

  .js-enabled div[aria-hidden="true"] {
    display: none;
  }

  .js-enabled div[aria-hidden="false"] {
    display: block;
  }

  .grid-row:after,
  #content:after,
  .notice:after,
  .panel:after,
  fieldset:after,
  .form-section:after,
  .form-group:after,
  .form-block:after,
  .breadcrumbs ol:after,
  .accordion-with-descriptions-01 .subsection-controls:after,
  .accordion-with-descriptions-02 .subsection-controls:after,
  .accordion-with-descriptions-03 .subsection-controls:after,
  .question:after,
  .question-first:after,
  div.test-case-overflow-allowed:after {
    content: "";
    display: block;
    clear: both;
  }

  .hint-underneath,
  .hint {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 5px 0;
    color: #6f777b;
    clear: both;
  }

  @media (min-width: 641px) {

    .hint-underneath,
    .hint {
      font-size: 19px;
      line-height: 1.3157894737;
    }
  }
</style>