{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
<header class="page-header">
        <h1>Register to use ePACT2</h1>
      </header>
        <h2 class="nhsuk-heading-l">Your details</h2>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-heading-m">
      What is your name?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <label class="nhsuk-label" for="first-name">
      First name
    </label>
    <input class="nhsuk-input" id="first-name" name="first-name" type="text">
  </div>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="last-name">
      Last name
    </label>
    <input class="nhsuk-input" id="last-name" name="last-name" type="text">
  </div>

  </fieldset>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-heading-m">
      What is your email address?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="email-address" name="email-aaddress" type="text">
  </div>

  </fieldset>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-heading-m">
      What is your job title?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="job-title" name="job-title" type="text">
  </div>

  </fieldset>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-heading-m">
      Why do you need access to ePACT2?
    </h1>
  </legend>

  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
 
  </fieldset>
  
  <br><br>

  <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
          Tick here to confirm you've read the ePACT2 user agreement (EUA)
        </label>
      </div>

  <br>

          <h2 class="nhsuk-heading-l">Your organisation's details</h2>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-heading-m">
      Select your organisation type
    </h1>
  </legend>

  <div class="nhsuk-form-group">

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
          GP Practice
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          Primary Care Network (PCN)
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
          NHS Trust/other
        </label>
        <span class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
        Choose this option if you are:
        <ul>
        <li>a CCG  </li>              
        <li>NHS England Local Team</li>
        <li>Hospital Trusts</li>
        <li>ISHP</li>
        <li>Local Authority</li>
        <li>Commissioning Support Units (CSUs)</li>
       </ul> </span>
      </div>
            <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-4" name="example-hints" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-4">
          Public sector and other organisations who need to monitor and manage prescribing data in primary care
        </label>
      </div>

    </div>
  </div>

</fieldset>
      <a href="/" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
