<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layouts/layout-transactional.html' %} {% block pageTitle %} ePACT2 registration {% endblock %} {% block beforeContent %} {{ breadcrumb({ href: "/", text: "Home" }) }} {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #005EB8; margin-top: 0;">

            <h1 class="nhsuk-panel__title" style="color: white;">
                    Done
            </h1>
            
            <span class="nhsuk-caption-xl nhsuk-caption--top" style="text-align: center; color: white;">You have completed the ePACT2 registration form</span>

        </div>

				
        <h2 class="nhsuk-heading-m">What happens next?</h2>

        

        


        <p>Once we get confirmation from your authorisers, we'll send you an email with your access details.</p>

        <p>If you do not get the email, contact us.</p>

        <a href="epact-start2" class="nhsuk-button">
            Start a new application
        </a>








    </div> 
         {% endblock %}
</body>
</html>
