{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  ePACT2 registration
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
<header class="page-header">
        <p class="page-header--sub heading-secondary">Register to use ePACT2</p>
        <h1>organisation details and authorisation</h1>
      </header>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      What is the name of your organisation?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="org-name" name="org-name" type="text">
  </div>

  </fieldset>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      What is your organisation code?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="org-code" name="org-code" type="text">
  </div>

  </fieldset>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      What is the name of your authoriser?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="auth-name" name="auth-name" type="text">
  </div>

  </fieldset>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      What is their email address?
    </h1>
  </legend>

<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="auth-email-address" name="auth-email-address" type="text">
  </div>

  </fieldset>



      <a href="epact-cya" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
