{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  ePACT2 registration
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Register to use ePACT2
      </h1>

      <p>
        To apply to use ePACT2, you'll need to complete all the sections of this form.
      </p>
      <p>
        Before you start, make sure you've read:
      </p>

      <ul>
        <li>
          the <a href="https://www.nhsbsa.nhs.uk/epact2/registering-epact2">registration guidance on the NHS Business Service Authority (NHSBSA) website</a>
        </li>
        <li>
          the <a href="https://www.nhsbsa.nhs.uk/epact2/epact2-user-agreement-eua">ePACT2 user agreement (EUA)</a>
        </li>
      </ul>

      <p>
        Your account will be deactivated if you do not access the system for 6 months.
      </p>

      <a href="epact-your-details" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
