{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  ePACT2 registration
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
<header class="page-header">
        <p class="page-header--sub heading-secondary">Register to use ePACT2</p>
        <h1>Your organisation's details</h1>
      </header>

        
<form class="form" action="orgType" method="GET"> <!-- wrapped both questions inside <form> -->

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-heading-l">
      Select your organisation type
      </h1>
  </legend>

  <div class="nhsuk-form-group">

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="checkBoxOne" name="incomesingle" value="gp-practice" type="radio" aria-controls="medicineusereviews" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="checkBoxOne">
          GP Practice
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="checkBoxTwo" name="incomesingle" value="primary-care-network" type="radio" aria-controls="applianceusereviews" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="checkBoxTwo">
          Primary Care Network (PCN)
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="checkBoxThree" name="incomesingle" value="trust-other" type="radio" aria-controls="applianceusereviews" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
          NHS Trust
        </label>
        <span class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
        Choose this option if you are:
        <ul>
        <li>a CCG  </li>              
        <li>Hospital Trusts</li>
        <li>ISHP</li>
        <li>Local Authority</li>
       </ul> </span>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="checkBoxFour" name="incomesingle" value="commissioning-support-unit" type="radio" aria-controls="applianceusereviews" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="checkBoxFour">
          Commissioning Support Units (CSUs)
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="checkBoxFive" name="incomesingle" value="national-orgs" type="radio" aria-controls="applianceusereviews" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="checkBoxFive">
          National Level organisation (DHSC, NHSE&I)
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="checkBoxSix" name="incomesingle" value="other-orgs" type="radio" aria-controls="applianceusereviews" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="checkBoxSix">
          Public sector and other organisations who need to monitor and manage prescribing data in primary care
        </label>
      </div>

    </div>
  </div>

    </fieldset>
         <input class="nhsuk-button nhsuk-u-margin-bottom-8" type="submit" value="Continue">
</form>

    </div>

  </div>
{% endblock %}
    <script src="/public/javascripts/govuk-template.js?0.18.3" type="text/javascript"></script>
 <!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>