<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layouts/layout-transactional.html' %} {% block pageTitle %} ePACT2 registration {% endblock %} {% block beforeContent %} {{ breadcrumb({ href: "/", text: "Home" }) }} {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <header class="page-header">
        <h1>Check your answers</h1>
      </header>
      <h2 class="nhsuk-heading-l">Your details</h2>
      <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Karen Francis
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>

    </dd>

  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>karen.francis@example.com</p>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Job title
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Data analyst</p>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>

    </dd>

  </div>

</dl>

      <h2 class="nhsuk-heading-l">Your organisation's details</h2>
      <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Organisation type
    </dt>
    <dd class="nhsuk-summary-list__value">
      Primary Care Network (PCN)
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>

    </dd>

  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Access level needed
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>National dashboard level</p>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Organisation name
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Newcastle PCN</p>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Organisation code
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>123456</p>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>

    </dd>

  </div>

</dl>
    </div>
  </div><a class="nhsuk-button nhsuk-u-margin-bottom-8"
        href="epact-done-national">Continue</a> {% endblock %}
</body>
</html>
