<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layouts/layout-transactional.html' %} {% block pageTitle %} ePACT2 registration {% endblock %} {% block beforeContent %}  {% endblock %} {% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  "href": "#",
  "text": "Go back"
}) }} 
  <div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #005EB8; margin-top: 0;">

            <h1 class="nhsuk-panel__title" style="color: white;">
                    Done
            </h1>
            
            <span class="nhsuk-caption-xl nhsuk-caption--top" style="text-align: center; color: white;">You've completed the ePACT2 registration form</span>

        </div>

				
        <h2 class="nhsuk-heading-m">What happens next?</h2>

        <p>We'll send you an email with your access details.</p>

        <p>If you have any questions about the registration process, contact us.</p>

        <p><span class="nhsuk-u-font-weight-bold">Telephone:</span> 0191 203 5050<br>
           <span class="nhsuk-u-font-weight-bold">Email:</span> nhsbsa.registration@nhs.net</p>

           <p>We're open Monday to Friday 8am to 5pm.</p>

              <p>
        NHSBSA provide training on how to use ePACT2.  You can find out more:
      </p>

      <ul>
        <li>
          on the <a href="https://www.nhsbsa.nhs.uk/epact2/epact2-training">NHSBSA website</a>
        </li>
        <li>
          by contacting the training team at <a href="nhsbsa.epact2training@nhs.net ">nhsbsa.epact2training@nhs.net</a>
        </li>
      </ul>

      <p>
        Your account will be deactivated if you do not access the system for 6 months.
      </p>


        <a href="epact-start2" class="nhsuk-button">
            Start a new application
        </a>








    </div> 
         {% endblock %}
</body>
</html>
