{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  ePACT2 registration
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        ePACT2 prototype
      </h1>

    <h2>Version 1</h2>

    <p>
    All input fields on one page.
    </p>

    <ul>
    <li>
    <a href="epact-start">Start page</a>
    </li>
    </ul>

    <h2>Version 2</h2>

    <p>
    Split into separate pages, with routing based on organisation type and access required.
    </p>
    <p>CSU inputs in accessible autocomplete, asks for access level and authorisation for each CCG, then loops back round if the user wants to add another CCG.</p>

    <ul>
    <li>
    <a href="epact-start2">Start page</a>
    </li>
    </ul>


    </div>

  </div>
{% endblock %}
